{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Flair and Beauty Saloon</title>
    <link rel="stylesheet" href="styles.css">
   
    <p> Intro  
    </p>

    <p> OUR TEAM</p>

</head>
    <body>
  
<h2 class="text-red-700">Our professionals</h2>

<img src="../website/photo_without_frame.png" alt="hair withoutt frame" width="50%" height="60%" </img>
 
<strong>Hair with flair ></strong>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate necessitatibus repellendus voluptatem exercitationem? Dolores animi id, asperiores illum ut corrupti nobis mollitia odit ea nulla amet quisquam placeat alias ex.</p>




<button> Book an appointment</button>
	</body>

    <footer>

<h3>Kontakt</h3>
<p>Flair and beauty 
    Hair studio Munich,2023
</p>
<p> flair.beauty@gmail.com  
Telephone +4989266468
</p>
<p>Follow us on facebook</p>
<p>impressum</p>
<p>datenshutz</p>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
    </footer>
</html>