{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Flair and Beauty Saloon</title>
    <link rel="stylesheet" href="styles.css">
    <p> Intro 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum harum quidem odio quos quaerat. Iusto nam officia distinctio voluptate cupiditate eius adipisci, harum dignissimos illo magnam, consequuntur 
    </p>

    <p> OUR TEAM</p>

</head>
    <body>
        
<h1 class="text-3xl underline font-bold">
    Hello world!
  </h1>
<h2 class="text-red-700">This is a h2 tag</h2>
 
<button> Book an appointment</button>
	</body>

    <footer>
this is the footer
<h3>Kontakt</h3>
<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, dicta.
</p>
    </footer>

<p>in Our studio</p>

<p>Testmonial 1</p>

<p>Testmonial </p>

<p> flair.beauty@gmail.com  
Telephone +4989266468
</p>

<p>Follow us on facebook</p>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>



</html>